@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Mukita', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;/* unidade vh (a altura do viewport), permitindo que o body defina um valor minimo de altura com base na altura total do viewport do usuáro*/
}

:root{
    --background-clean: beige;
    --cor-da-empresa: orange;
    --cor1:#F2A0DC;
    --cor2:#A9ABD9;
    --cor3:#D5D7F2;
    --cor4:#593A28;
    --cor5:#F2DCDC;

}

/* Estilização do  HEADER - NAV */

.cabecalho{
    width: 100%;    
    background: var(--cor1);
}

.menu .ul-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

li {
    list-style: none;
    padding: 2rem;
    color: var(--cor4);
}

.bi-file-person{
    padding: 5rem;
    font-size: 70px;
    /*color: var(--cor4*/
}

ul li#imagem-localizacao{
    display: flex;
    padding-right: 0;
    padding-left: 5rem;
    margin-right: 0.8rem;
    align-items: center;

}

i.bi-geo-alt{
    font-size: 60px;
    color: var(--cor4)
}

input#cep{
    height: 3rem;
    border-radius: 2rem;
}

p.nome-localizacao{
    font-size: 40px;
    padding-left: 0;
    padding-right: 5rem;
}

ul li.logo-empresa{
    padding-left: 5rem;
}

i.bi-card-image{
    font-size: 70px;
    color: var(--cor4)
}

/* Estilização do Footer*/
footer{
    background: var(--cor1);
    margin-top: 5rem;
}

.footer-card{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

/*.footer-card li{
    list-style: none;
}*/

.footer-card a{
    text-decoration: none;
    text-align:center;
}

.footer-item{
    margin: 5rem;
}

i.bi-house-fill{
    font-size: 60px;
    color: var(--cor4);
}

i.bi-emoji-smile{
    font-size: 60px;
    color: var(--cor4);
}

i.bi-upc-scan{
    font-size: 60px;
    color: var(--cor4);
}

i.bi-cart{
    font-size: 60px;
    color: var(--cor4);
}

i.bi-stickies{
    font-size: 60px;
    color: var(--cor4);
}

.footer-nome-item{
    font-size: 20px;
    font-weight: 700;
    color: var(--cor4);
}

/*Usando media queries para transformar nossa page acessível a tela menores*/

@media screen and (max-width: 448px){
    body{
        width: 100%;
    }

    header{
        display: flex;
    }

    i.bi-geo-alt, .nome-localizacao,i.bi-card-image{
        display: flex;
    }

    ul.footer-card{
        flex-wrap: flex;
        margin: auto;
        justify-content: center;
    }

    .footer-card a{
        width: 100%;
    }
}